@import "partials/main.scss";

.content-wrapper {
	max-width: $maxBodyWidth;
	margin: 0 auto;
}

.submit-container {
	display: flex;
	flex-direction: row;
	background: $lightBackgroundColor;
	border-radius: 10px;
	margin-bottom: 15px;
	overflow: hidden;
	box-sizing: border-box;

	box-shadow: 0 3px 10px rgba(0,0,0,0.05);

	.submit__input-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;

		input {
			display: flex;
			width: 100%;
			height: 40px;
			border: none;
			outline: none;
			padding: 0 15px;
			background: none;
			font-weight: 600;
			font-size: 1.2em;
		}

		.submit__title-input {
			border-bottom: 1px solid darken($lightBackgroundColor, 5%);
		}
	}

	.submit__button {
		background: $accentColor;
		color: white;
		cursor: pointer;
		border: none;
		outline: none;
		padding: 0 15px;
		font-size: 1.5em;
		font-weight: 800;
		transition: background $transitionTime ease-out;
	}

	.submit__button:hover, .submit__button:focus {
		background: lighten($accentColor, 5%);
	}
}

.post {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
	background: $lightBackgroundColor;
	padding: 10px 15px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;

	box-shadow: 0 3px 10px rgba(0,0,0,0.05);

	.post__vote-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.vote-arrow {
			font-size: 24px;
			background: transparent;
			border: none;
			outline: none;
			cursor: pointer;
		}

		.vote-arrow--upvote {
			color: rgb(255, 147, 30);
			margin-bottom: 3px;
		}

		.vote-arrow--downvote {
			color: rgb(64, 169, 245);
		}

		.score {
			font-weight: 600;
		}
	}

	.post__content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-left: 15px;
		padding: 10px 0;
	}

	.post__title {
		font-size: 2em;
		font-weight: 800;
		color: $accentColor;
		cursor: pointer;
		margin-bottom: 5px;
	}

	.post__metadata {
		color: $secondaryTextColor;
	}

	.post__author {
		cursor: pointer;
		font-weight: 600;
	}

	.post__body {
		font-size: 1.2em;
		margin-top: 15px;
		font-weight: 500;
	}

	.post__metadata--header ~ .post__body {
		margin-top: 5px;
	}

	.post__delete-button {
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 30px;
		background: $accentColor;
		color: white;
		font-weight: 800;
		font-size: 1.3em;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom-left-radius: 5px;
		border: none;
		outline: none;
		cursor: pointer;

		transition: all $transitionTime ease-out;
	}

	.post__delete-button:hover, .post__delete-button:focus {
		background: $errorTextColor;
	}
}

