@import "partials/main.scss";

html, body {
	background: $backgroundColor;
}

.content-wrapper {
	max-width: $maxBodyWidth;
	margin: 0 auto;
	padding-top: 30px;
	margin-bottom: 30px;

	header {
		display: flex;
		flex-direction: row;

		.header__wrapper {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			width: 50%;
		}

		.header__wrapper--right {
			justify-content: flex-end;
			align-items: flex-end;

			ul {
				list-style: none;
				display: flex;
				flex-direction: row;
			}

			li {
				margin: 0 10px;
				cursor: pointer;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 1.2em;

				a {
					color: $accentColor;
				}
			}

			li:last-child {
				margin-right: 0;
			}
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		height: 400px;
		box-sizing: border-box;
		border-radius: 5px;
		position: relative;

		padding: 30px;

		background: white;
		border-bottom: 4px solid darken($lightBackgroundColor, 15%);

		h1 {
			font-size: 2.5em;
			font-weight: 800;
		}

		.pen {
			position: absolute;
			bottom: 0;
			height: 10px;
			width: 64px;
			border-radius: 5px;
			background: $accentColor;
			border-right: 5px solid darken($accentColor, 5%);
		}

		.pen--red {
			$color: #DB0060;
			background: $color;
			border-right-color: darken($color, 5%);
			left: 10%;
		}

		.pen--blue {
			$color: #0079DB;
			background: $color;
			border-right-color: darken($color, 5%);
			left: 30%;
		}

		.pen--green {
			background: $accentColor;
			border-right: none;
			border-left: 5px solid darken($accentColor, 5%);
			right: 15%;
		}

		.cta-wrapper {
			width: 100%;

			margin-top: 15px;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			.cta-button {
				background: none;
				font-size: 1.3em;
				font-weight: 700;
				border: none;
				outline: none;
				padding: 10px 15px;
				border: 3px solid black;
				border-radius: 30px;
				letter-spacing: 0.03em;
				margin: 0 10px;
				color: black;
				text-decoration: none !important;
				text-transform: uppercase;

				transition: all $transitionTime ease-out;

				cursor: pointer;
			}

			.cta-button:hover, .cta-button:focus {
				color: white;
				background: black;
			}

			.cta-button--selected {
				background: $accentColor;
				color: white;
				font-weight: 800;
				border-color: $accentColor;
			}

			.cta-button--selected:hover, .tab__button--selected:focus {
				background: lighten($accentColor, 5%);
				border-color: lighten($accentColor, 5%);
			}
		}
	}
}