@import "partials/main.scss";
@import "chat.scss";

$canvasBgColor: #eee;

body, html {
	background: $canvasBgColor;
	overflow: hidden;
}

.whiteboard {
	position: relative;
	overflow: hidden;

	.whiteboard__canvas-wrapper {
		overflow: auto;
	}

	#whiteboard__canvas {
		background: $canvasBgColor;
	}

	.whiteboard__toolbar-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		position: absolute;
		top: 15px;
		left: 15px;
		width: 50px;
		height: 300px;
		background: white;

		box-shadow: 0 3px 3px rgba(0,0,0,0.05);

		border-radius: 25px;
		padding: 5px 0;
	}

	.toolbar__color {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
		border: none;
		outline: none;
		background: white;
		cursor: pointer;
	}

	.toolbar__color--selected {
		border: 3px solid #E5DE50;
		box-shadow: none;
	}

	.toolbar__color--red {
		background: #DB0060;
	}

	.toolbar__color--orange {
		background: #F0712B;
	}

	.toolbar__color--green {
		background: $accentColor;
	}

	.toolbar__color--blue {
		background: #0079DB;
	}

	.toolbar__color--black {
		background: black;
	}
}