/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Layout guides
 */
/**
 * Breakpoints for mobile opt.
 */
/**
 * Transition timings
 */
/* line 38, ../sass/partials/main.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
.logo {
  transition: opacity 70ms ease-out;
}

/* line 48, ../sass/partials/main.scss */
button,
input,
li {
  transition: all 70ms ease-out !important;
}

/* line 54, ../sass/partials/main.scss */
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading .logo {
  opacity: 0 !important;
}

/* line 64, ../sass/partials/main.scss */
.wf-loading button,
.wf-loading input,
.wf-loading li {
  color: transparent !important;
}

/* line 70, ../sass/partials/main.scss */
html {
  background: white;
}

/* line 74, ../sass/partials/main.scss */
body {
  background: white;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  -webkit-text-size-adjust: 100%;
  min-width: 460px;
}

/* line 89, ../sass/partials/main.scss */
body.fixed-header {
  padding-top: 35px;
}

/* line 93, ../sass/partials/main.scss */
a {
  text-decoration: none;
}

/* line 97, ../sass/partials/main.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 101, ../sass/partials/main.scss */
wrapper.main {
  max-width: 650px;
  margin: 0 auto;
  display: block;
}

/* line 107, ../sass/partials/main.scss */
header {
  background: #121314;
  padding: 15px 16px;
  text-align: center;
  /* Left */
  /* Right */
}
/* line 112, ../sass/partials/main.scss */
header .header__wrapper {
  max-width: 850px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}
/* line 122, ../sass/partials/main.scss */
header .header__logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 30px;
}
/* line 130, ../sass/partials/main.scss */
header .logo-container__logo {
  background-image: url("/Whiteboard/img/TextLogo-light.svg");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
/* line 140, ../sass/partials/main.scss */
header .header__navigation-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 149, ../sass/partials/main.scss */
header .header__navigation-container li {
  margin: 0 10px;
  cursor: pointer;
}
/* line 152, ../sass/partials/main.scss */
header .header__navigation-container li a {
  color: white;
}
/* line 157, ../sass/partials/main.scss */
header .header__navigation-container .navigation__search {
  font-size: 1.1em;
  color: #00DB92;
  background: none;
  border: none;
  outline: none;
}
/* line 164, ../sass/partials/main.scss */
header .header__navigation-container .navigation__search form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
/* line 170, ../sass/partials/main.scss */
header .header__navigation-container .navigation__search form input {
  height: 24px;
  border-radius: 12px;
  border: 1px solid transparent;
  outline: none;
  font-size: 0.8em;
  padding: 0 10px;
  box-sizing: border-box;
}
@media (max-width: 1050px) {
  /* line 170, ../sass/partials/main.scss */
  header .header__navigation-container .navigation__search form input {
    display: none;
  }
}
/* line 184, ../sass/partials/main.scss */
header .header__navigation-container .navigation__search form input:focus {
  border-color: #00DB92;
}
/* line 188, ../sass/partials/main.scss */
header .header__navigation-container .navigation__search form button {
  color: white;
  padding: 0 10px;
  height: 24px;
  cursor: pointer;
  transition: all 70ms ease-out;
}
/* line 199, ../sass/partials/main.scss */
header .header__navigation-container .navigation__logout {
  transition: all 70ms ease-out;
  font-size: 1.3em;
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

/* line 219, ../sass/partials/main.scss */
.tabs {
  width: 100%;
  background: white;
}
/* line 223, ../sass/partials/main.scss */
.tabs .tabs__wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
/* line 234, ../sass/partials/main.scss */
.tabs .tabs__wrapper--vertical {
  flex-direction: column;
}
/* line 237, ../sass/partials/main.scss */
.tabs .tabs__wrapper--vertical h1 {
  margin: 0;
  margin-bottom: 15px;
}
/* line 243, ../sass/partials/main.scss */
.tabs h1 {
  font-size: 2em;
  font-weight: 800;
  margin-right: 15px;
}
/* line 249, ../sass/partials/main.scss */
.tabs .tabs__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
/* line 255, ../sass/partials/main.scss */
.tabs .tabs__container li {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 263, ../sass/partials/main.scss */
.tabs .tabs__container li .tab__button {
  background: none;
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 5px 15px;
  border: 3px solid black;
  border-radius: 30px;
  letter-spacing: 0.03em;
  transition: all 70ms ease-out;
  cursor: pointer;
}
/* line 279, ../sass/partials/main.scss */
.tabs .tabs__container li .tab__button:hover, .tabs .tabs__container li .tab__button:focus {
  color: white;
  background: black;
}
/* line 284, ../sass/partials/main.scss */
.tabs .tabs__container li .tab__button--selected {
  background: #00DB92;
  color: white;
  border-color: #00DB92;
}
/* line 290, ../sass/partials/main.scss */
.tabs .tabs__container li .tab__button--selected:hover, .tabs .tabs__container li .tab__button--selected:focus {
  background: #00f5a3;
  border-color: #00f5a3;
}
/* line 295, ../sass/partials/main.scss */
.tabs .tabs__container li .tab__button--warning {
  background: #db004d;
  border-color: #db004d;
}
/* line 300, ../sass/partials/main.scss */
.tabs .tabs__container li .tab__button--warning:hover, .tabs .tabs__container li .tab__button--warning:focus {
  background: #f50056;
  border-color: #f50056;
}
/* line 307, ../sass/partials/main.scss */
.tabs .tabs__container--vertical {
  flex-direction: column;
}
/* line 310, ../sass/partials/main.scss */
.tabs .tabs__container--vertical li {
  margin: 0;
  margin-bottom: 15px;
}

/* line 317, ../sass/partials/main.scss */
.error-message {
  color: #db004d;
}

/* line 321, ../sass/partials/main.scss */
.logo {
  color: white;
  font-size: 3em;
  font-weight: 700;
}

/* line 327, ../sass/partials/main.scss */
template {
  display: none !important;
}

/* line 331, ../sass/partials/main.scss */
a, a:hover, a:focus, a:active, a:visited {
  color: #00DB92;
}

/* line 335, ../sass/partials/main.scss */
footer {
  background: white;
  color: #737373;
  font-size: 0.85em;
  padding: 1em 16px;
}

/* line 3, ../sass/forum.scss */
.content-wrapper {
  max-width: 850px;
  margin: 0 auto;
}

/* line 8, ../sass/forum.scss */
.submit-container {
  display: flex;
  flex-direction: row;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
/* line 19, ../sass/forum.scss */
.submit-container .submit__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* line 24, ../sass/forum.scss */
.submit-container .submit__input-wrapper input {
  display: flex;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 15px;
  background: none;
  font-weight: 600;
  font-size: 1.2em;
}
/* line 36, ../sass/forum.scss */
.submit-container .submit__input-wrapper .submit__title-input {
  border-bottom: 1px solid #e1e1e1;
}
/* line 41, ../sass/forum.scss */
.submit-container .submit__button {
  background: #00DB92;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 1.5em;
  font-weight: 800;
  transition: background 70ms ease-out;
}
/* line 53, ../sass/forum.scss */
.submit-container .submit__button:hover, .submit-container .submit__button:focus {
  background: #00f5a3;
}

/* line 58, ../sass/forum.scss */
.post {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  padding: 10px 15px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
/* line 72, ../sass/forum.scss */
.post .post__vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 78, ../sass/forum.scss */
.post .post__vote-container .vote-arrow {
  font-size: 24px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 86, ../sass/forum.scss */
.post .post__vote-container .vote-arrow--upvote {
  color: #ff931e;
  margin-bottom: 3px;
}
/* line 91, ../sass/forum.scss */
.post .post__vote-container .vote-arrow--downvote {
  color: #40a9f5;
}
/* line 95, ../sass/forum.scss */
.post .post__vote-container .score {
  font-weight: 600;
}
/* line 100, ../sass/forum.scss */
.post .post__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
  padding: 10px 0;
}
/* line 109, ../sass/forum.scss */
.post .post__title {
  font-size: 2em;
  font-weight: 800;
  color: #00DB92;
  cursor: pointer;
  margin-bottom: 5px;
}
/* line 117, ../sass/forum.scss */
.post .post__metadata {
  color: #737373;
}
/* line 121, ../sass/forum.scss */
.post .post__author {
  cursor: pointer;
  font-weight: 600;
}
/* line 126, ../sass/forum.scss */
.post .post__body {
  font-size: 1.2em;
  margin-top: 15px;
  font-weight: 500;
}
/* line 132, ../sass/forum.scss */
.post .post__metadata--header ~ .post__body {
  margin-top: 5px;
}
/* line 136, ../sass/forum.scss */
.post .post__delete-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #00DB92;
  color: white;
  font-weight: 800;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 70ms ease-out;
}
/* line 157, ../sass/forum.scss */
.post .post__delete-button:hover, .post .post__delete-button:focus {
  background: #db004d;
}
