@CHARSET "ISO-8859-1";

#container{
	width: 100%;
	display: inline-block;
}

#leftside {
	float:left;
	padding: 10px;
	display: block;
	width:60%;
	display: inline-block;
}

#rightside {
	float:right;
	padding: 10px;
	display: block;
	width:30%;
	display: inline-block;
}

.notification{
	height: 80px;
    border: 1px solid #ccc!important;
    border-radius: 16px!important;
    margin-bottom:5px;
    margin-top:5px;
    width:55%;
    margin-left:20%;
    background:#d1d0d2;
}


