@CHARSET "ISO-8859-1";

#container{
	width: 100%;
	display: inline-block;
}

#leftside {
	float:left;
	padding: 10px;
	display: block;
	width:60%;
	display: inline-block;
}

#rightside {
	float:right;
	padding: 10px;
	display: block;
	width:30%;
	display: inline-block;
}


