@import "_Devices";

/* Inlining device frame CSS */

.contentWrapper.minimized .projectContainer {
	width: 10%;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	margin: 0;
	border-radius: 0;
	display: block;
}
.contentWrapper.minimized .appIcon {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
}
.contentWrapper.minimized .appIcon .icon {
	width: 40px;
	height: 40px;
	border-radius: 9px;
}
.contentWrapper.minimized .appIcon .title {
	opacity: 0;
}

.contentWrapper.minimized {
	max-width: 50px;
	margin: 0;
	padding: 0;
}

.contentWrapper.minimized .projectOverlay {
	border-radius: 0;
}

/*.contentWrapper.minimized .projectContainer:first-child, .contentWrapper.minimized .projectContainer:first-child .projectOverlay {
	border-radius: 3px 3px 0 0;
}

.contentWrapper.minimized .projectContainer:last-child, .contentWrapper.minimized .projectContainer:last-child .projectOverlay {
	border-radius: 0 0 3px 3px;
}*/

.showcaseContainer {
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	transform: scale(.5);
	/* width: 400px; */
	/* height: 710px; */
	margin: auto;
	margin-top: -190px;
	margin-bottom: -190px;
	margin-left: -120px;
	margin-right: -120px;
	display: inline-block;
}

.showcaseRow {
	margin: 50px 0;
}

.showcaseRow.landscapeSingle {
	margin-bottom: -50px;
}

.showcaseRow.landscape {
	margin-bottom: 100px;
}

.showcaseRow.landscapeiPhoneSingle {
	margin-bottom: 125px;
}

.article h4 {
    color: rgb(76, 173, 219); 
    font-size: 25px;
    font-weight: 300; 
    line-height: 25px;
    margin: 20px auto 10px auto;
}
.article:first-child {
	margin-top: 35px;	
}
.article {
    font-size: 18px; 
    letter-spacing: 0; 
    color: rgb(142, 147, 150);
    font-weight: 400;
    max-width: 540px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 29px;
    padding: 10px;
}
.article.landscape {
	margin-bottom: -50px;
}
.article.landscapeiPhoneStack {
	margin-bottom: 100px;
}
.article.landscapeiPhoneSingle {
	margin-bottom: 100px;
}
.article.landscapeiPhoneStackDouble {
	margin-bottom: 70px;
}
.article:last-child {
	margin-bottom: 50px;
}